.hotel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #ffffffee;
    backdrop-filter: blur(4px);/*sirve para aplicar un efecto desenfoque */
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgb(0,0,0,0.06);


}
.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #b48a5a;
}

nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;

}

nav a:hover{
    color: #b48a5a;
    

}